/* =========================================================
   THÈME CLAIR (Mode "default")
   ========================================================= */
[data-md-color-scheme="default"] {
  /* Un gris très clair pour le fond principal (au lieu du blanc) */
  --md-default-bg-color: #f4f4f5; 
  
  /* Un blanc "cassé" très doux pour les zones de texte et de code */
  --md-default-bg-color--light: #fafafa; 
}

/* =========================================================
   THÈME SOMBRE (Mode "slate")
   ========================================================= */
[data-md-color-scheme="slate"] {
  /* Un gris carbone moderne (ni bleu, ni noir absolu) */
  --md-default-bg-color: #18181b; 
  
  /* Un gris légèrement plus clair pour faire ressortir les éléments (cartes, encadrés) */
  --md-default-bg-color--light: #27272a; 
}